body{
    background: #0c4f53;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #f0d43a;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100%;
    width: 80%;
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.headline{
    padding: 0;
}
/* .holder{

} */

.entry{
    background: rgba(131, 139, 156, 0.4);
}

/* #entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

} */

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 3rem;
    width: 320px;
    background:#277f97;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
}

button{
    width: 150px;
    height: 60px;
    margin-bottom: 1rem;
    background: #277f97;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
    color: white;
    border-radius: 15px;
}
button:hover{
    background-color: #23898f;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
h1{
    font-size: 36px;
}

textarea{
    background:#277f97;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 3rem;
    border: 1px solid black;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 